src/main/app/order-system2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="orders.wsdl" service="OrderServiceService" port="OrderServicePort" serviceAddress="http://training-u.cloudhub.io/advanced/orders" doc:name="Web Service Consumer"/>
    <flow name="main">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/orders" doc:name="HTTP"/>
        <flow-ref name="processOrders" doc:name="processOrders"/>
        <flow-ref name="retrieveOrders" doc:name="retrieveOrders"/>
    </flow>
    <flow name="processOrders">
        <set-variable variableName="orders" value="#[message.payload]" doc:name="Variable"/>
        <set-payload value="#[[{'orderID':444, 'location':'international','price':14.01}, {'orderID':444,'location':'international','price':14.01}, {'orderID':555,'location':'domestic','price':14.01}]]
" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	international: flowVars.'orders' filter $.'location' == 'international', 
	domestic: flowVars.'orders' filter $.'location' == 'domestic'
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="retrieveOrders">
        <set-variable variableName="dateRange" value="#[message.inboundProperties.'http.query.params'.range]" doc:name="Set dateRange"/>
        <dw:transform-message doc:name="Parse Template">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#provisionOrder: {
		dateRange: flowVars.dateRange as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="provisionOrder" doc:name="Orderer Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data/provisionOrderResponse.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#provisionOrderResponse.*return]]></dw:set-payload>
        </dw:transform-message>
        <logger message="retrieveOrders LOGGER &gt;&gt; #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
